div#signup
  form(action='signup', method='post')
    label="Name"
    input(type='text', name='name')
    p
      label="Password"
      input(type='password', name='password_one')
    p
      label="Password again"
      input(type='password', name='password_two')
    p
      label="City"
      input(type='text', name='city')
    p
      label="Contact"
      input(type="text", name='contact')
    p
    input(type='submit', value='註冊')

